body {
  margin: 0px;
}

footer {
  background-color: #444240;
}

h2 {
  font-size: 32px;
}

p {
  color: #bdb9b5;
  font-size: 14px;
}

.container {
  margin: 0px auto;
  width: 1366px;
}

ul.horizontal-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.horizontal-list li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #555248;
  margin: 0px 33px;
}

.nav-icon {
  text-decoration: none;
  color: #555248;
  margin: 12px;
}

.path-link {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 14px;
  margin: 0px;
}

.path-link + .path-link::before {
  content: url("img/icons/next-path-link.svg");
  margin: 0px 14px;
}

.bnt-transparent {
  background-color: transparent;
  border: 0px;
}

.sotring__text {
  font-size: 14px;
}

.sorting__btn-drop-down-list {
  font-size: 14px;
  background-color: transparent;
}

.headline-catalog {
  display: flex;
}

.catalog {
  display: flex;
}

.catalog__filters {
  width: 230px;
}

.catalog__wrap {
  width: 836px;
}

.pagination {
  display: flex;
  justify-content: right;
}

.pagination__link {
  margin: 0 4px;
}

.bnt-watch-all {
  /* тут еще надо стелизовать */
  color: red;
}

/* ЭТО ДАЖЕ НЕ СТОИТ ТРОГАТЬ, ЕСЛИ СМОТРИТЕ МОЙ GIT */
/* старое */

/* .h-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 28px 99px 0px 103px;
}

.n-link {
  text-decoration: none;
  color: #555248;
  margin: 0px 32.5px;
}

.btn-icon {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.h-icons-icon {
  margin: 0px 4px 0px 7.5px;
}

.catalog-section {
  display: flex;
  padding: 40px 102px 0px 101px;
}

.sotring {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.btn-drop-down-list {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.sorting-criteria {
  color: red;
  margin-left: 9px;
}

/* как тут сделать через вектор? */
/* .sorting-criteria::after {
  margin-left: 9px;
  content: ">";
} */

/* разделяет каталог и фильтры */
/* .noname {
  display: flex;
  padding: 40px 103px 0px 103px;
} */

/* .filters {
  width: 230px;
  margin-right: 93px;
}

.catalog-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  border: solid transparent;
  margin-bottom: 42px;
  line-height: 0px;
}

.card:hover {
  border: dashed #bcbcbb;
}

.card__title {
  position: absolute;
  top: 19px;
  left: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.card__price {
  position: absolute;
  top: 41px;
  left: 20px;
  font-size: 14px;
}

.card__price::after {
  content: " ₽";
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 10px;
  padding-right: 101px;
}

.bnt-paginarion {
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px 10px;
}

.pagination__link {
  text-decoration: none;
  color: #b6b6b6;
  font-size: 14px;
  margin: 0px 4px;
}

.additional-section-catalog {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 78px 107px 0px 96px;
}

.a-bnt {
  text-decoration: none;
  color: #444240;
  font-size: 16px;
} */

/* скорее всего надо будет переделать */
/* .a-bnt::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #c4c0b6;
  width: auto;
  margin: 12.5px 0px;
}

.tape-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37.5px 47px 0px 56px;
}

.bnt-tape {
  background-color: transparent;
  border: none;
  padding: 0px;
}

.tape {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 0px 40px;
}

.f-menu {
  display: flex;
  justify-content: space-between;
  padding: 79px 183px 67px 185px;
}

.f-menu__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
}

.f-menu__list {
  list-style-type: none;
  padding: 0px;
}

.f-menu__list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}  */
