body {
  margin: 0px;
}

footer {
  background-color: #444240;
}

h2 {
  font-size: 32px;
}

p {
  color: #bdb9b5;
  font-size: 14px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  margin: 0px auto;
  width: 1160px;
}

ul.horizontal-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.horizontal-list li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #555248;
  margin: 0px 33px;
}

.nav-icon {
  text-decoration: none;
  color: #555248;
  margin: 12px;
}

.path-link {
  text-decoration: none;
  color: #b3b3b3;
  font-size: 14px;
  margin: 0px;
}

.path-link-current {
  color: #555248;
}

.path-link + .path-link::before {
  content: url("img/icons/next-path-link.svg");
  margin: 0px 14px;
}

.bnt-transparent {
  background-color: transparent;
  border: 0px;
}

.sotring__text {
  font-size: 14px;
}

.sorting__btn-drop-down-list {
  font-size: 14px;
  background-color: transparent;
}

.headline-catalog {
  display: flex;
}

.sorting {
  display: flex;
}

.sorting__select {
  outline: none;
  border: none;
  appearance: url("img/icons/next-path-link.svg");
}

.headline-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.catalog__filters {
  border: none;
  background-color: rebeccapurple;
}

.parameters-box {
  background-color: darksalmon;
}

.bnt-disclosure {
  display: block;
  width: 100%;
  text-align: start;
  background-color: transparent;
}

.bnt-disclosure span {
  justify-self: end;

  /* тут остановился */
}

.range-price__line {
  position: absolute;
}

.catalog__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

  width: 836px;
}

.catalog__wrap > *:last-child {
  margin-right: auto;
}

.card {
  width: 252px;

  background-color: #fdfdfb;
}

.card__title {
  font-size: 14px;
  text-decoration: none;

  color: #444240;
}

.card__price {
  font-size: 14px;
  color: #636261;
}

.card__price::after {
  margin-left: 8px;
  content: "₽";
}

.pagination {
  display: flex;
  justify-content: right;
}

.pagination__link {
  margin: 0 4px;
  font-size: 14px;
  text-decoration: none;
  color: #b6b6b6;
}

.pagination__link-active {
  color: #1b1a17;
}

.bnt-watch-all {
  right: 0;
  padding: 13px;
  text-decoration: none;
  color: #1b1a17;
  border-bottom: 1px solid #c4c0b6;
}

.tape {
  position: relative;
}

.tape__wrap {
  display: flex;
  justify-content: space-between;
}

.tape__controls {
  border: none;
  margin: 0;
  padding: 0;
}

.tape__controls-bnt-next {
  position: absolute;
  bottom: 50%;
  left: -40px;
}

.tape__controls-bnt-back {
  position: absolute;
  bottom: 50%;
  right: -40px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.footer-menu h2 {
  margin: 0;
}

.footer-menu__item {
  list-style-type: none;
}

.footer-menu__item a {
  color: rebeccapurple;
}
